/* Fonts */
/* Mulish */
@import url("../fonts/mulish/stylesheet.css");
/* font-family: 'Mulish'; */

/* Albert Sans */
@import url("../fonts/albert-sens/stylesheet.css");
/* font-family: 'Albert Sans'; */

/* FONTSPRING DEMO - Juana Alt Medium */
@import url("../fonts/FONTSPRINGDEMO/stylesheet.css");
/* font-family: 'FSP DEMO - Juana Alt'; */

/* Futura Md BT */
@import url("../fonts/futura/stylesheet.css");
/* font-family: 'Futura Md BT'; */

/* Header Css Start ***
*********************/
/* Header Common Css Start */
:root {
    --skinColor: #2C3E50;
    --skinColor2: #E67E22;
    --whiteColor: #FFF;
    --blackColor: #000;
    --titleColor: #15191D;
    --titleColor2: #0D0E10;
    --titleColor3: #0F1311;
    --bodyColor: #818487;
    --bodyColor2: #818195;
    --borderColor: #D9D9DF;
    --lightColor: #F2F4F6;
    --lightColor2: #F7F8FA;
}

.al-title-14px {
    color: var(--titleColor);
    font-family: "Albert Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

/* Button */
.ec-btn-white{
    border: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: inline flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    padding: 16px 30px;
    border-radius: 0px;
    background: var(--whiteColor);
    color: var(--titleColor2);
    font-family: "Albert Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
}
.ec-btn-white:hover{
    background: var(--skinColor);
    color: var(--whiteColor);
}
.ec-btn-white:active{
    background: var(--skinColor) !important;
    color: var(--whiteColor) !important;
}
.ec-btn-white svg{
    display: block;
}
.ec-btn-white path{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.ec-btn-white:active path,
.ec-btn-white:hover path{
    fill: var(--whiteColor);
}
.icon-left.ec-btn-white svg,
.icon-right.ec-btn-white svg,
.icon-left.ec-btn-white img,
.icon-right.ec-btn-white img{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.icon-right.ec-btn-white:hover svg,
.icon-right.ec-btn-white:hover img{
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}
.icon-left.ec-btn-white:hover svg,
.icon-left.ec-btn-white:hover img{
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
}

.ec3-btn-dark{
    border: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: inline flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    padding: 10px 24px;
    border-radius: 8px;
    background: var(--titleColor);
    color: var(--whiteColor);
    font-family: "Albert Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
}
.ec3-btn-dark:hover{
    background: var(--skinColor);
    color: var(--whiteColor);
}
.ec3-btn-dark:active{
    background: var(--skinColor) !important;
    color: var(--whiteColor) !important;
}
.ec3-btn-dark svg{
    display: block;
}
.icon-left.ec3-btn-dark svg,
.icon-right.ec3-btn-dark svg,
.icon-left.ec3-btn-dark img,
.icon-right.ec3-btn-dark img{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.icon-right.ec3-btn-dark:hover svg,
.icon-right.ec3-btn-dark:hover img{
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}
.icon-left.ec3-btn-dark:hover svg,
.icon-left.ec3-btn-dark:hover img{
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
}


.svg-block > svg {
    display: block;
}
.mb-40px {
    margin-bottom: 40px !important;
}
/* Header Common Css End */

/* Top Header */
.top-header-section{
    background: var(--titleColor);
    padding: 12px 0;
}
.white-borderless-select{
    height: auto;
    line-height: 100%;
    border: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 20px;
    background: transparent;
    color: var(--whiteColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
}
.white-borderless-select::after{
    right: 0;
    -webkit-transform-origin: 8px 0;
        -ms-transform-origin: 8px 0;
            transform-origin: 8px 0;
    border: none;
    width: 16px;
    height: 16px; 
    background-image: url(../images/svg-icons/angle-down-white-16.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    margin-top: 0;
    -webkit-transform: rotate(0deg) translateY(-50%);
        -ms-transform: rotate(0deg) translateY(-50%);
            transform: rotate(0deg) translateY(-50%);
}
.white-borderless-select.open::after{
    -webkit-transform: rotate(180deg) translateY(-50%);
        -ms-transform: rotate(180deg) translateY(-50%);
            transform: rotate(180deg) translateY(-50%);
}
.white-borderless-select .list{
    -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 8px;
    padding: 8px;
}
.white-borderless-select .option{
    min-height: auto;
    line-height: inherit;
    padding: 8px;
    border-radius: 4px;
    color: var(--bodyColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
}
.white-borderless-select .option.selected{
    font-weight: 500;
}
.white-borderless-select .option:hover, 
.white-borderless-select .option.focus, 
.white-borderless-select .option.selected.focus {
    background-color: var(--lightColor);
    color: var(--titleColor);
}
.list-index-1041 .list{
    z-index: 1041;
}

/* Logo Header */
.logo-header{
    padding: 20px 0 17px 0;
    border-bottom: 1px solid var(--borderColor);
    background: var(--whiteColor);
    position: relative;
    z-index: 1039;
}

/* Search */
.header-search-form{
    max-width: 387px;
    width: 100%;
}
.search-form-control{
    border: 1px solid var(--borderColor);
    padding: 11px 38px 11px 11px;
    color: var(--bodyColor);
    font-family: "Albert Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 0;
    border-left: 0;
}
.search-form-control::-webkit-input-placeholder{
    color: var(--bodyColor);
}
.search-form-control::-moz-placeholder{
    color: var(--bodyColor);
}
.search-form-control:-ms-input-placeholder{
    color: var(--bodyColor);
}
.search-form-control::-ms-input-placeholder{
    color: var(--bodyColor);
}
.search-form-control::placeholder{
    color: var(--bodyColor);
}
.search-form-control:focus,
.search-form-control:hover{
    border-color: var(--skinColor);
}
.search-submit-btn{
    position: absolute;
    right: 4px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 32px;
    height: 32px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--skinColor);
    padding: 0;
    border-radius: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.search-submit-btn:hover{
    background: var(--skinColor2);
}
.search-submit-btn:active{
    background: var(--skinColor2) !important;
}
.search-submit-btn svg{
    display: block;
}
.search-form-control:has( ~ .search-submit-btn:hover){
    border-color: var(--skinColor);
}

/* Icon Text Link */
.header-icontext-link{
    padding: 14px 0 10px 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: var(--titleColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
}
.header-icontext-link:hover{
    color: var(--skinColor2);
}
.header-icontext-link svg{
    display: block;
}
.header-icontext-link path{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.header-icontext-link:hover path{
    fill: var(--skinColor2);
}
.icon-upper-badge{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: var(--skinColor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--whiteColor);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    position: absolute;
    right: -6px;
    top: -6px;
    padding-bottom: 1px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.header-icontext-link:hover .icon-upper-badge{
    background: var(--skinColor2);
}
.mobile-wishlist-link:hover .icon-upper-badge{
    background: var(--skinColor2);
}
.mobile-wishlist-link{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: var(--titleColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
}
.mobile-wishlist-link:hover{
    color: var(--skinColor2);
}
.mobile-wishlist-link svg{
    display: block;
}
.mobile-wishlist-link path{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.mobile-wishlist-link:hover path{
    fill: var(--skinColor2);
}

.menu-button{
    padding: 0;
    border: none;
    background-color: transparent;
}

/* login user dropdown */
.header-user-dropdown-btn{
    border: none;
    padding: 0;
    padding-right: 22px;
    position: relative;
}
.header-user-dropdown-btn::after{
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 33px;
    height: 27px;
    border-radius: 0px 50px 50px 0px;
    background-color: #F1F3F6;
    margin: 0;
    vertical-align: middle;
    border: none;
    z-index: -1;
    background-image: url(../images/svg-icons/angle-down-black-16.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: calc(100% - 4px) 5px;
}
.header-user-dropdown-btn:active::after{
    background-color: var(--lightColor);
}
.header-user-profile{
    display: block;
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
}
.header-user-profile img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
}
.header-user-dropdown-menu{
    border: none;
    border-radius: 8px;
    background: var(--whiteColor);
    -webkit-box-shadow: 0px 4px 40px 0px rgba(10, 23, 22, 0.10);
            box-shadow: 0px 4px 40px 0px rgba(10, 23, 22, 0.10);
    padding: 10px;
}
.header-user-dropdown-header{
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #ECECEC;
}
.header-user-dropdown-profile{
    height: 26px;
    width: 26px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 26px;
            flex: 0 0 26px;
    border-radius: 50%;
    overflow: hidden;
}
.header-user-dropdown-profile > img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
}
.header-user-dropdown-menu .dropdown-item{
    color: var(--bodyColor);
    font-family: "Albert Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    border-radius: 4px;
    padding: 7px 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.header-user-dropdown-menu .dropdown-item:hover{
    color: var(--titleColor);
    background: var(--lightColor);
}


/* Offcanvas Menu */
.menuoffcanvas.offcanvas.offcanvas-start{
    width: 329px;
    border: none;
}
.menuoffcanvas{
    padding: 20px;
}
.menuoffcanvas-header{
    padding: 0;
}
.menuoffcanvas-header .btn-close{
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
}
.menuoffcanvas-body{
    padding: 0;
    padding-right: 5px;
    margin-right: -5px;
}
.mobile-menu-ul {
    padding-right: 3px;
}
.mobile-menuitem-a{
    color: var(--titleColor);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    width: 100%;
}
.mobile-menuitem-a:hover{
    color: var(--skinColor);
}
.mobile-menuitem-a > .text{
    padding-top: 3px;
}
.mobile-menuitem-a > svg{
    display: block;
    min-width: 22px;
}
.mobile-menuitem-a > svg > path{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.mobile-menuitem-a:hover > svg > path{
    fill: var(--skinColor);
}
.mobile-menuitem-a-have-sub{
    padding-right: 20px;
    position: relative;
}
.mobile-menuitem-a-have-sub::after{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    right: 0;
    top: 3px;
    background-image: url(../images/svg-icons/angle-right-black-16.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.mobile-menuitem-a-have-sub:hover::after{
    background-image: url(../images/svg-icons/angle-right-skin-16.svg);
}
.mobile-dropdown-menu{
    padding: 12px 0 0 30px;
    display: none;
}
.mobile-dropdown-menu > li:not(:last-child){
    margin-bottom: 12px;
}
/* after active submenu */
.active-mobile-submenu > .mobile-menuitem-a-have-sub{
    color: var(--skinColor);
}
.active-mobile-submenu > .mobile-menuitem-a-have-sub > svg > path{
    fill: var(--skinColor);
}
.active-mobile-submenu > .mobile-menuitem-a-have-sub::after{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    background-image: url(../images/svg-icons/angle-right-skin-16.svg);
}
/* Mobile sub dropdown menu */
.mobile-subdrop-menu{
    padding: 12px 0 0 20px;
    display: none;
}
.mobile-subdrop-menu > li:not(:last-child){
    margin-bottom: 12px;
}
.mobile-dropitem-a-have-sub{
    padding-right: 20px;
    position: relative;
}
.mobile-dropitem-a-have-sub::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    right: 0;
    top: 3px;
    background-image: url(../images/svg-icons/angle-right-black-16.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.mobile-dropitem-a-have-sub:hover::after{
    background-image: url(../images/svg-icons/angle-right-skin-16.svg);
}
.active-mobile-sub-submenu > .mobile-dropitem-a-have-sub::after{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    background-image: url(../images/svg-icons/angle-right-skin-16.svg);
}
.active-mobile-sub-submenu > .mobile-dropitem-a-have-sub{
    color: var(--skinColor);
}


/* Menu Header */
.menu-header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    z-index: 1038;
    background-color: var(--whiteColor);
    padding: 17px 0;
    -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
}
.menu-header.header-bg {
    -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
}
.header-menu-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 26px;
       -moz-column-gap: 26px;
            column-gap: 26px;
}
.header-menuitem-a{
    color: var(--bodyColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
    padding: 13px 0;
}
.header-menuitem-a.active,
.header-menuitem-a:hover{
    color: var(--titleColor);
}
/* If Have Dropdown */
.header-menuitem-a-have-sub{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
}
.header-menuitem-a-have-sub > svg{
    display: block;
}
.header-menuitem-a-have-sub > svg > path{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.header-menuitem-a-have-sub:hover > svg > path{
    fill: var(--titleColor);
}
.header-menuitem-a-have-sub.active > svg > path{
    fill: var(--titleColor);
}

/* Dropdown Menu */
.header-dropdown-menu{
	padding: 10px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 4px 40px 0px rgba(10, 23, 22, 0.10);
            box-shadow: 0px 4px 40px 0px rgba(10, 23, 22, 0.10);
    min-width: 180px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    left: 0;
    top: calc(100% + 5px);
    background: var(--whiteColor);
    -webkit-transition: all ease 350ms;
    -o-transition: all ease 350ms;
    transition: all ease 350ms;
    z-index: 9;
}
.header-dropdown-menuitem-a{
    padding: 7px 12px;
    border-radius: 4px;
    color: var(--bodyColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.header-dropdown-menuitem-a:hover{
    color: var(--titleColor);
    background: var(--lightColor);
}
.header-menuitem-have-sub{
    position: relative;
}
.header-menuitem-have-sub:hover .header-dropdown-menu{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    top: 100%;
}
/* Sub Dropdown */
.header-dropitem-have-sub {
    position: relative;
}
.header-dropitem-have-sub > .header-dropdown-menuitem-a{
    padding-right: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 6px;
}
.header-dropitem-have-sub > .header-dropdown-menuitem-a svg {
    display: block;
}
.header-dropitem-have-sub > .header-dropdown-menuitem-a path {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.header-dropitem-have-sub > .header-dropdown-menuitem-a:hover path {
    fill: var(--titleColor);
}
.header-dropitem-have-sub > .header-dropdown-menuitem-a::before {
    position: absolute;
    content: "";
    height: calc(100% + 8px);
    width: 10px;
    right: -10px;
    top: 0px;
    background: transparent;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.header-sub-dropdown-menu{
    padding: 10px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 4px 40px 0px rgba(10, 23, 22, 0.10);
            box-shadow: 0px 4px 40px 0px rgba(10, 23, 22, 0.10);
    min-width: 180px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    left: calc(100% + 10px);
    top: 5px;
    background: var(--whiteColor);
    -webkit-transition: all ease 350ms;
    -o-transition: all ease 350ms;
    transition: all ease 350ms;
}
.header-sub-dropdown-a{
    padding: 7px 10px;
    border-radius: 4px;
    color: var(--bodyColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.header-sub-dropdown-a:hover{
    color: var(--titleColor);
    background: var(--lightColor);
}
.header-dropitem-have-sub:hover > .header-dropdown-menuitem-a::before{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.header-dropitem-have-sub:hover > .header-sub-dropdown-menu{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    top: 0;
}

/* New */
.header-logo{
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/* Mega Menu */
/* Font Size */
.mega-list-title{
    color: var(--titleColor2);
    font-family: "Albert Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
}

.mega-menu-btn-wrap{
    /* border-radius: 100px; */
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.mega-menu-btn{
    position: relative;
    z-index: 1;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6px;
    padding: 11px 12px;
    background: #F7F8F9;
    color: var(--titleColor);
    font-family: "Albert Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.mega-menu-btn:hover{
    background: var(--skinColor);
    color: var(--whiteColor);
}
.mega-menu-btn svg{
    display: block;
}
.mega-menu-btn path{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.mega-menu-btn:hover path{
    fill: var(--whiteColor);
}
.mega-menu-btn-wrap:hover .mega-menu-btn{
    background: var(--skinColor);
    color: var(--whiteColor);
}
.mega-menu-btn-wrap:hover .mega-menu-btn path{
    fill: var(--whiteColor);
}
.mega-menu-btn::before{
    position: absolute;
    content: "";
    height: 36px;
    width: 100%;
    left: 0;
    top: calc(100% - 18px);
    background: transparent;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.mega-menu-btn:hover::before{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.mega-menu-wrap{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all ease 350ms;
    -o-transition: all ease 350ms;
    transition: all ease 350ms;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    margin-top: 10px;
    z-index: 1040;
}

.mega-menu-btn-wrap:hover .mega-menu-wrap{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    margin-top: 17px;
}


/* Collected */
.mega-menu-inner-wrap{
    border-radius: 0px 0px 12px 12px;
    background: var(--whiteColor);
    padding: 30px 30px 24px 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-top: 1px solid var(--borderColor);
}
.mega-list-ads-wrap{
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 16px;
}
.mega-list-main-wrap{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
}
.mega-nav-item:not(:last-child){
    margin-bottom: 2px;
}
.mega-nav-link{
    padding: 6px 12px;
    border-radius: 4px;
    color: var(--bodyColor2);
    font-family: "Albert Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    width: 100%;
}
.mega-nav-link.active,
.mega-nav-link:hover{
    color: var(--titleColor2);
    background: var(--lightColor);
}
.active-mega-nav-sub .mega-nav-link-have-sub{
    color: var(--titleColor2);
    background: var(--lightColor);
}

.mega-nav-link-have-sub{
    padding-right: 24px;
    position: relative;
}
.mega-nav-link-have-sub::after{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    right: 8px;
    top: 5px;
    background-image: url(../images/svg-icons/angle-right-black2-16.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.active-mega-nav-sub .mega-nav-link-have-sub::after{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.mega-nav-dropdown{
    display: none;
    padding: 4px 0 3px 12px;
}
.mage-nav-sublink{
    width: 100%;
    padding: 4px 8px 4px 9px;
    position: relative;
    color: var(--bodyColor2);
    font-family: "Albert Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.mage-nav-sublink::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 3px;
    border-radius: 50%;
    left: 0;
    top: 9px;
    background: var(--borderColor);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.mage-nav-sublink:hover{
    color: var(--titleColor2);
}
.mage-nav-sublink:hover::after{
    background: var(--titleColor2);
}

.mega-nav-link-have-badge{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    padding: 4px 12px;
}
.red-badge-sm {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 7px;
    border-radius: 69px;
    background: #FC5732;
    color: var(--whiteColor);
    font-family: "Albert Sans";
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
/* Collected */

.mega-ads-wrap{
    width: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
}
.mega-ads-card{
    padding: 18px;
    background: url(../images/all-images/mega-ads-banner.webp) no-repeat center center / cover;
}
.mads-titles-wrap{
    margin-bottom: 160px;
}
.mads-sm-title{
    margin-bottom: 4.09px;
    color: var(--whiteColor);
    font-family: "Albert Sans";
    font-size: 13.624px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 13.624px */
}
.mads-title{
    margin-bottom: 17.71px;
    color: var(--whiteColor);
    font-family: "Albert Sans";
    font-size: 20.436px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20.436px */
}
.mads-price{
    color: var(--whiteColor);
    font-family: "Albert Sans";
    font-size: 22.48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 22.48px */
}


/* Header Responsive Css */
@media all and (max-width: 1199px){
    /* Header */
    .mega-list-main-wrap {
        gap: 16px;
    }
    .mega-ads-wrap {
        width: 230px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 230px;
                flex: 0 0 230px;
    }
}
@media all and (max-width: 991px){
    /* Header */
    .mega-list-ads-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .mega-ads-wrap {
        width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    }
}
@media all and (max-width: 767px){
    /* Header */
    .logo-header .container{
        padding-right: 18px;
    }
    .search-form-control{
        border-left: 1px solid var(--borderColor);
    }
    /* Logo Header */
    .logo-header{
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transition: 0.15s ease-out;
        -o-transition: 0.15s ease-out;
        transition: 0.15s ease-out;
        z-index: 1040;
        background-color: var(--whiteColor);
    }
    .logo-header.header-bg2 {
        -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
                box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
    }
}
@media all and (max-width: 575px){
    /* Header */
    .header-logo{
        max-width: 140px;
    }
    .white-borderless-select.right .list {
        left: 0;
        right: auto;
    }
    .white-borderless-select.right {
        float: right;
    }
}
@media all and (max-width: 450px){
    /* Header */
    .header-logo{
        max-width: 120px;
    }
}
/* Header Css End ***
*******************/